<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>xyz by gathanei</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>xyz, a R-package</h1>
        <p>A library for fast interaction search in high-dimensional data.</p>

        <p class="view"><a href="https://github.com/gathanei/xyz">View on GitHub <small>gathanei/xyz</small></a></p>

        <ul>
          <li><a href="https://arxiv.org/abs/1610.05108">Download<strong>Paper</strong></a></li>
          <li><a href="">Download <strong>Package</strong></a></li>
          <li><a href="https://github.com/gathanei/xyz">Fork On<strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/gathanei">gathanei</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
